[Unit]
Description=arqma Wallet RPC
After=network.target arqmad.service

[Service]
User=arqmaservices
Group=arqmaservices
WorkingDirectory=/opt/arqma-wallets
Type=simple
ExecStart=/opt/arqma-bin/arqma-wallet-rpc --wallet-file /opt/arqma-wallets/woocommerce --rpc-bind-port 19996 --password-file /opt/arqma-wallets/woocommerce.password --disable-rpc-login --log-file /var/log/arqma-wallet.log
Restart=always

[Install]
WantedBy=multi-user.target
